body {
  background-color: #fff;
  font-family: microsoft-yahei; }

.container {
  display: flex; }
  .container .box {
    width: 300px;
    margin: 20px; }
    .container .box .titlebar {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding-left: 20px;
      margin-bottom: 10px; }
    .container .box .content {
      padding-left: 20px;
      border: 1px solid #ccc;
      padding-bottom: 11px; }
      .container .box .content span > b {
        position: relative;
        display: block;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ccc;
        border-radius: 10px 0 0 10px;
        margin-bottom: 5px;
        padding-left: 10px; }
        .container .box .content span > b > a {
          font-size: 14px;
          position: absolute;
          right: 10px;
          top: 2px;
          padding: 0 5px;
          border: 1px solid #ccc;
          height: 24px;
          line-height: 24px;
          border-radius: 8px;
          text-decoration: none;
          cursor: pointer;
          color: #ccc; }
          .container .box .content span > b > a:hover {
            background-color: #04b00f;
            color: #fff; }
